@{
    ViewBag.Title = "Home Page";
}

<div class="console" >
    <div class="console-head">
        <spqn style="">Console calculator.exe</spqn>
    </div>
    <div id="input-log">
        some text huh? <br />
        text <br />
        s <br />
        d <br />
        a <br />
        d <br />
        f <br />
        ggg <br />
    </div>

    @*<input id="input-field" type="text"/>*@
    <textarea id="input-field"></textarea>
</div>