@{
    ViewBag.Title = "Home Page";
}

<div id="console">
    <div id="console-head">
        <span style="">Console calculator.exe</span>
        <span id="closer" onclick="window.close();">&#10006;</span>
    </div>
    <div id="input-log">
        <span>Hello, this is a console calculator!</span> <br />
        <span>It recognizes arithmetical expressions and evaluates them. </span><br />
        <span>Please, type one using brackets or these signs: +, -, *, /</span><br />
        @foreach (var e in ViewBag.ExpressionLog)
        {
            <span>@e.Key</span><br />
            <span>@e.Value</span><br />
        }
    </div>

    @using (Html.BeginForm())
    {
        @Html.TextArea("inputField")
        <input id="hdnSubmit" type="submit" style="display: none;"/>
    }
</div>